
body{
  background-image: url(../IMG/waterworld.jpg);
  background-attachment: fixed;
}
html{
  scroll-behavior: smooth;
}
h1{
  text-align:center;
  color:white;
  font-family: sans-serif;
}
ul.nav {
  float: right;
  margin:auto;
  padding:inherit;
  width:auto;
  background-color: #f1f1f1;
  position:fixed;
  height:auto%;

}
ul {
  list-style-type:none;
}

li a {
  font-size:20px;
  font-family: sans-serif;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
li{
  display: inline;
  float: right;
}
li a:hover {
  background-color:green;

  color:black;
}


p {
  text-align: center;
  font-size: 25px;
  color: white;
  text-shadow:  2px 2px 5px red;
}



div.gallery {
  margin: auto;
  border: 1px solid #ccc;
  width: 500px;
  background-color: gray;
}
div.gallery:hover{
  border: 3px solid #777;
  font-size:40px;
  font-family: sans-serif;
}
div.gallery img{
  width:100%;

}
#ab{
  float: left;
}
#abc{
  float: right;
}
div.desc{
  text-align:center
}


div.borderss{
  border-style: double;
  border-color: red;
  border-width: thick;
}
