

body.background1 {
  background-color:grey;
}
html{
  scroll-behavior: smooth;
}
h1{
  text-align:center;
  color:white;
  font-family: sans-serif;
}
ul {
  list-style-type:none;
}

li a {
  font-size:20px;
  font-family: sans-serif;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
li{
  display: inline;
  float: right;
}
li a:hover {
  background-color:green;

  color:black;
}


p {
  text-align: center;
  font-size: 25px;
  color: white;
  text-shadow:  2px 2px 5px blue;
}



div.gallery {
  margin: auto;
  border: 1px solid #ccc;
  width: 500px;
  background-color: gray;
}
div.gallery:hover{

  font-size:40px;
  font-family: sans-serif;
}
div.gallery img{
  width:100%;

}
#ab{
  float: left;
}
#abc{
  float: right;
}
div.desc{
  text-align:center
}


div.borderss{
  border-style: double;
  border-color: white;
  border-width: thick;
}
button.btn{
  border-style: double;
  border-color: white;
  border-radius: 10px;
}
.red {
  color:white
}
img#myImage {
  align-items: center;
}
img.centerimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.clock {
  color:white;
  background-color:black;
  position:inherit;
  text-align:center;
  font-size: 50px;
  text-shadow:  2px 2px 5px yellow;
}
